.container {
    min-height: 100vh;
  }
  
  .card {
    border-radius: 15px; /* Bordes redondeados para la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden; /* Asegura que el contenido no sobresalga */
  }
  
  .card-header {
    background-color: #2a57ec;
    color: #fff;
    border-top-left-radius: 15px; /* Bordes redondeados */
    border-top-right-radius: 15px; /* Bordes redondeados */
  }
  
  .card-body {
    padding: 2rem;
    background-color: #bfd3ff;
    
  }
  
  .form-group select {
    border-radius: 5px; /* Bordes redondeados para el select */
  }
  
  button.btn {
    border-radius: 5px; /* Bordes redondeados para botones */
  }
  
  button.btn-info {
    background-color: #da7d31;
    border-color: #da7d31;
    border-radius: 15px;
  }
  
  button.btn-primary {
    background-color: #2a57ec;
    border-color: #2a57ec;
    border-radius: 15px;
  }
  
  button.btn:hover {
    opacity: 0.9; /* Efecto hover */
  }
